@using Coffee_62134455.Models.DtoEdit;
@model DonHangsDtoEdit_62134455
@{
    ViewBag.Title = "Index";
}

<style>
    .note-field {
        text-align: start !important;
        font-size: 11pt;
        padding: 10px !important;
    }
</style>

<script>
    $(document).ready(function () {
        $('.remove-item').click(function (e) {
            e.preventDefault();
            var row_item = $(this); //Lấy dữ liệu dòng cần xóa
            $.post("/GioHang_62134455/CapNhatSanPhamTrongGio", { id_sanpham: $(row_item).data('id'), actionEdit : "remove" }, function (res) {
                $(row_item).closest('.row_item').remove(); //Thực hiện xóa dòng
                //Thực tiền tính lại tiền tổng hóa đơn
                $('.TongTienHoaDon').html(res.tongtien);
                $('.PhiVanChuyen').html(res.phivanchuyen);
                $('.SoTienPhaiTra').html(res.sotienphaitra);
            })
        })
        $(".btn-dat-hang").click(function (e) {
            e.preventDefault();
            if (!validate()) {
                return false;
            }
            console.log($("form").serialize());
            $.post('/GioHang_62134455/DatHang', $("form").serialize(), function (res) {
                ToastMessage(res.message, res.status == 1 ? true : false);
            })
        })

        $('.themSoLuong').click(function (e) {
            e.preventDefault();
            let soluong = Number($('input[name="SoLuong"][data-id="' + $(this).data('id') + '"]').val());
            if (soluong) {

                $('input[name="SoLuong"][data-id="' + $(this).data('id') + '"]').val(soluong + 1);

                var row_item = $(this); //Lấy dữ liệu dòng cần xóa
                $.post("/GioHang_62134455/CapNhatSanPhamTrongGio", { id_sanpham: $(row_item).data('id'), actionEdit: "changeQuantity", SoLuong: soluong+1 }, function (res) {
                    //Thực tiền tính lại tiền tổng hóa đơn
                    $('td[name="ThanhTien"][data-id="' + $(row_item).data('id') + '"]').html(res.thanhtien);
                    $('.TongTienHoaDon').html(res.tongtien);
                    $('.PhiVanChuyen').html(res.phivanchuyen);
                    $('.SoTienPhaiTra').html(res.sotienphaitra);
                })
            }

        })
        $('.giamSoLuong').click(function (e) {
            e.preventDefault();
            let soluong = Number($('input[name="SoLuong"][data-id="' + $(this).data('id') + '"]').val());
            if (soluong && soluong > 1) {
                $('input[name="SoLuong"][data-id="' + $(this).data('id') + '"]').val(soluong - 1); 

                var row_item = $(this); //Lấy dữ liệu dòng cần xóa
                $.post("/GioHang_62134455/CapNhatSanPhamTrongGio", { id_sanpham: $(row_item).data('id'), actionEdit: "changeQuantity", SoLuong: soluong - 1 }, function (res) {
                    //Thực tiền tính lại tiền tổng hóa đơn
                    $('td[name="ThanhTien"][data-id="' + $(row_item).data('id') + '"]').html(res.thanhtien);
                    $('.TongTienHoaDon').html(res.tongtien);
                    $('.PhiVanChuyen').html(res.phivanchuyen);
                    $('.SoTienPhaiTra').html(res.sotienphaitra);
                })
            }
        })

        $('input.detail[name="GhiChu"]').change(function (e) {
            e.preventDefault();
            $.post("/GioHang_62134455/CapNhatSanPhamTrongGio", { id_sanpham: $(this).data('id'), actionEdit: "changeNote", GhiChu: $(this).val() })
        })



    })
</script>
<form>
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th style="width:5%">&nbsp;</th>
                                    <th style="width:10%">&nbsp;</th>
                                    <th>Sản phẩm</th>
                                    <th style="width:10%">Giá</th>
                                    <th style="width:10%">Size</th>
                                    <th style="width:15%">Số lượng</th>
                                    <th style="width:15%">Thành tiền</th>
                                    <th style="width:15%">Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    decimal TongTienHoaDon = 0;
                                    decimal PhiVanChuyen = 0;
                                }
                                @foreach (var item in Model.ChiTietDonHangsDtoEdit_62134455)
                                {

                                    <tr class="text-center row_item">
                                        <td class="product-remove"><a href="#" data-id="@item.id_sanpham" class="remove-item"><span class="icon-close"></span></a></td>

                                        <td class="image-prod"><div class="img" width="30" style="background-image:url(/Assets/images/@item.HinhAnh);"></div></td>

                                        <td class="">
                                            <h5>@item.TenSanPham</h5>
                                            <p>@item.MoTa</p>
                                        </td>

                                        <td class="">@string.Format("{0:#,###}", item.DonGia) ₫</td>
                                        <td class="size">@item.Size</td>

                                        <td class="">
                                            <div class="input-group mb-3">
                                                <input type="number" data-id="@item.id_sanpham" readonly name="SoLuong" class="form-control input-number input-soluong" value="@item.SoLuong" min="1">
                                                <button style="width:30px;" data-id="@item.id_sanpham" class="themSoLuong btn btn-dark ml-2">+</button>
                                                <button style="width:30px;" data-id="@item.id_sanpham" class="giamSoLuong btn btn-dark ml-1">-</button>
                                            </div>
                                        </td>


                                        <td data-id="@item.id_sanpham" name="ThanhTien" class="ThanhTien">@string.Format("{0:#,###}", item.SoLuong * item.DonGia) ₫</td>

                                        <td class="ghi-chu">
                                            <div class="input-group mb-3">
                                                <input data-id="@item.id_sanpham" type="text" name="GhiChu" class="form-control note-field detail" value="@item.GhiChu">
                                            </div>
                                        </td>
                                    </tr><!-- END TR-->

                                    TongTienHoaDon += (item.SoLuong * item.DonGia.Value);

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*Thông tin nhân hàng*@


            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-6 ftco-animate mt-5">
                    <form action="#" class="billing-form ftco-bg-dark p-3">
                        <h3 class="mb-4 billing-heading">Thông tin người nhận</h3>
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="TenKhachHang">Họ và tên (<span class="red">*</span>)</label>
                                    <input name="TenKhachHang" type="text" class="form-control required" placeholder="">
                                    <label class="message"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Số ĐT (<span class="red">*</span>)</label>
                                    <input type="tel" name="SDT" class="form-control required" placeholder="">
                                    <label class="message"></label>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="DiaChiNhanHang">Địa chỉ nhận hàng(<span class="red">*</span>)</label>
                                    <input name="DiaChiNhanHang" type="tel" class="form-control required" placeholder="">
                                    <label class="message"></label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="GhiChu">Lưu ý cho đơn hàng</label>
                                    <input name="GhiChu" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="w-100"></div>

                        </div>
                    </form><!-- END -->



                </div> <!-- .col-md-8 -->


                <div class="col col-lg-4 col-md-6 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Tổng hóa đơn</h3>
                        <p class="d-flex">
                            <span>Tổng tiền</span>
                            <span class="TongTienHoaDon">@string.Format("{0:#,###}", TongTienHoaDon) ₫</span>
                        </p>
                        <p class="d-flex">
                            <span>Phí vận chuyển</span>
                            @if (TongTienHoaDon > 300000)
                            {

                                <span class="PhiVanChuyen">Miễn phí</span>
                            }
                            else if (TongTienHoaDon == 0)
                            {

                                <span class="PhiVanChuyen"></span>
                            }
                            else
                            {
                                PhiVanChuyen = 30000;
                                <span class="PhiVanChuyen">@string.Format("{0:#,###}", PhiVanChuyen) ₫</span>
                            }
                        </p>
                        <hr>
                        <p class="d-flex total-price">
                            <span>Cần trả</span>
                            <span class="SoTienPhaiTra">@string.Format("{0:#,###}", TongTienHoaDon + PhiVanChuyen) ₫</span>
                        </p>
                    </div>
                    <p class="text-center"><a href="#" class="btn btn-primary py-3 px-4 btn-dat-hang">Đặt hàng</a></p>
                </div>
            </div>
        </div>
    </section>
</form>
