@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using Coffee_62134455.Models;
@{
    var FirstDanhMuc = ViewBag.FirstDanhMuc as DanhMucs_62134455;
    int id_danhmuc = 0;
    if (FirstDanhMuc != null)
    {
        id_danhmuc = FirstDanhMuc.id;
    }
}
<script>
    $(document).ready(function () {
        $('.item-danh-muc').click(function (e) {
            e.preventDefault();
            $('.item-danh-muc').removeClass('active');
            $(this).addClass('active');
            $.get('/Home_62134455/SanPhamTheoDanhMuc', { id_danhmuc: $(this).data('id') }, function (html) {
                $('#san-pham-theo-danh-muc').html(html);
            })
        })

        var id_sanpham = 0;
        

        $('html').on('click', '.btn-try-now', function (e) {
            e.preventDefault();
            id_sanpham = $(this).data('id');
            $.get("/Home_62134455/PopupDatMon", { id: $(this).data('id') }, function (html) {
                openModal("Đặt sản phẩm", html, "frm-dat-mon", "Thêm vào giỏ");
            })
        })



        //click nút Thêm vào giỏ
        $('#modal').on('click', '.btn-submit', function (e) {
           
            e.preventDefault();
            if (!validateModal()) {
                return false;
            }

            var formData = new FormData();

            var SoLuong = $("input[name='SoLuong']").val();
            formData.append("SoLuong", SoLuong);

            var Size = $("input[name='Size']:checked").val() ?? "";
            formData.append("Size", Size);

            var SoLuong = $("input[name='SoLuong']").val();
            formData.append("SoLuong", SoLuong);

            var GhiChu = $("input[name='GhiChu']").val();
            formData.append("GhiChu", GhiChu);

            formData.append("id_sanpham", id_sanpham);
            $(this).prop("disabled", true);
            $.ajax({
                method: 'POST',
                url: "/Home_62134455/ThemVaoGio",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.status == 1) {
                        ToastMessage(res.message);
                        $('#SoLuongSanPhamTrongGio').html(res.total);
                        $("#modal").modal("hide");
                    }
                    else {
                        ToastMessage(res.message, false);
                    }
                    $('#modal .btn-submit').prop("disabled", false);
                }
            });
        })


        if ('@id_danhmuc' != '0') {
            $.get('/Home_62134455/SanPhamTheoDanhMuc', { id_danhmuc: '@id_danhmuc' }, function (html) {
                $('#san-pham-theo-danh-muc').html(html);
            })
        }
    })
</script>

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(/Assets/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Giới thiệu</span>
                    <h2 class="mb-4">Coffee Blend - Tự hào thương hiệu Việt</h2>
                    <p class="mb-4 mb-md-5">Là một thành viên của Tập đoàn KIDO, Coffee Blend đang kế thừa và sở hữu nhiều lợi thế với mong muốn mang sản phẩm cao cấp nhất đến khách hàng không chỉ qua hương vị đầy trải nghiệm, mà còn thưởng thức cả câu chuyện đầy tự hào về văn hoá và con người Việt Nam.</p>
                    <p> <a href="/thuc-don" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Xem Menu</a></p>
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(/Assets/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Sứ mệnh</span>
                    <h2 class="mb-4">Mang niềm tin đến khách hàng</h2>
                    <p class="mb-4 mb-md-5">Coffee Blend mong muốn mang đến cho khách hàng các món Trà và Cà Phê được biến tấu đặc biệt từ những nguyên liệu thuần Việt và kiểm soát chặt chẽ từ khâu sản xuất đến thành phẩm bởi đội ngũ phát triển đầu ngành.</p>
                    <p><a href="/thuc-don" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Xem Menu</a></p>
                </div>

            </div>
        </div>
    </div>


</section>


<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(/Assets/images/about.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="overlap">
            <div class="heading-section ftco-animate ">
                <h2 class="mb-4">Câu chuyện</h2>
            </div>
            <div>
                <p>Coffee Blend ® được thành lập vào năm 1999, bắt nguồn từ tình yêu dành cho đất Việt cùng với cà phê và cộng đồng nơi đây. Ngay từ những ngày đầu tiên, mục tiêu của chúng mình là có thể phục vụ và góp phần phát triển cộng đồng bằng cách siết chặt thêm sự kết nối và sự gắn bó giữa người với người.</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Sản phẩm bán chạy nhất</h2>
                <p>Sảng khoái với thức uống đá xay phong cách Việt. Coffee Blend là thức uống đá xay mát lạnh được pha chế từ những nguyên liệu thuần túy của Việt Nam</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.SPBanChayNhat as List<SanPhams_62134455>)
            {
                <div class="col-md-3">
                    <div class="menu-entry">
                        <a href="/thong-tin-san-pham?id=@item.id" class="img" style="background-image: url(/Assets/images/@item.HinhAnh);"></a>
                        <div class="text text-center pt-4">
                            <h3><a href="/thong-tin-san-pham?id=@item.id">@item.TenSanPham</a></h3>
                            <p>@item.MoTa</p>
                            <p class="price"><span>@string.Format("{0:#,###}", item.Gia) ₫</span></p>
                            <p><a href="#" data-id="@item.id" class="btn btn-primary btn-outline-primary btn-try-now">Đặt ngay</a></p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>


<section class="ftco-menu">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Sản phẩm khác</h2>
                <p>Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại tại Coffee Blend sẽ giúp bạn gợi mở vị giác của bản thân và tận hưởng một cảm giác thật khoan khoái, tươi mới.</p>
            </div>
        </div>
        <div class="row d-md-flex">
            <div class="col-lg-12 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            @foreach (var item in ViewBag.DanhMucSP as List<DanhMucs_62134455>)
                            {
                                <a class="nav-link pointer item-danh-muc" data-id="@item.id">@item.TenDanhMuc</a>
                            }
                            @*<a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>

                                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Desserts</a>*@
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center" id="san-pham-theo-danh-muc">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-appointment">
    <div class="overlay"></div>
    <div class="container-wrap">
        <div class="row no-gutters d-md-flex align-items-center">
            <div class="col-md-6 d-flex align-self-stretch">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.6863397191514!2d109.20195290000001!3d12.2694927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067ed110036c3%3A0x2bd6bf24453aff0!2zMDIgxJAuIE5ndXnhu4VuIMSQw6xuaCBDaGnhu4N1LCBWxKluaCBUaOG7jSwgTmhhIFRyYW5nLCBLaMOhbmggSMOyYSA2NTAwMDA!5e0!3m2!1svi!2s!4v1703085678600!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</section>