
@{
    ViewBag.Title = "Thực đơn";
}
@using Coffee_62134455.Models


<script>
    $(document).ready(function () {
        var id_sanpham = 0;
        $('.btn-try-now').click(function (e) {
            e.preventDefault();
            id_sanpham = $(this).data('id');
            $.get("/Home_62134455/PopupDatMon", { id: $(this).data('id') }, function (html) {
                openModal("Đặt sản phẩm", html, "frm-dat-mon", "Thêm vào giỏ");
            })
        })
        

       
        //click nút Thêm vào giỏ
        $('#modal').on('click', '.btn-submit',function (e) {
            $(this).addClass("disabled");
            e.preventDefault();
            if (!validateModal()) {
                $(this).removeClass("disabled");
                return false;
            }

            var formData = new FormData();

            var SoLuong = $("input[name='SoLuong']").val();
            formData.append("SoLuong", SoLuong);

            var Size = $("input[name='Size']:checked").val() ?? "";
            formData.append("Size", Size);

            var SoLuong = $("input[name='SoLuong']").val();
            formData.append("SoLuong", SoLuong);

            var GhiChu = $("input[name='GhiChu']").val();
            formData.append("GhiChu", GhiChu);

            formData.append("id_sanpham", id_sanpham);

            $.ajax({
                method: 'POST',
                url: "/Home_62134455/ThemVaoGio",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.status == 1) {
                        ToastMessage(res.message);
                        $('#SoLuongSanPhamTrongGio').html(res.total);
                        $("#modal").modal("hide");
                    }
                    else {
                        ToastMessage(res.message, false);
                    }
                    $('#modal .btn-submit').removeClass("disabled")
                }
            });
        })


    })
</script>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.listDanhMuc as List<DanhMucs_62134455>)
            {

                <div class="col-md-6 mb-5 pb-3">
                    <h3 class="mb-5 heading-pricing ftco-animate">@item.TenDanhMuc</h3>
                    @foreach (var sp in (ViewBag.listSanPham as List<SanPhams_62134455>).Where(x=>x.id_danhmuc==item.id))
                    {
                        <div class="pricing-entry d-flex ftco-animate">
                            <div class="img" style="background-image: url(/Assets/images/@sp.HinhAnh);"></div>
                            <div class="desc pl-3 pr-3">
                                <div class="d-flex text align-items-center">
                                    <h3><span>@sp.TenSanPham</span></h3>
                                    <span class="price">@string.Format("{0:#,###}", sp.Gia) ₫</span>
                                </div>
                                <div class="d-block">
                                    <p>@sp.MoTa</p>
                                </div>
                            </div>
                            <p><a href="#" data-id="@sp.id" class="btn btn-primary btn-outline-primary btn-try-now">Thử ngay</a></p>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</section>

