
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanTri.cshtml";
}
@using Coffee.Models.DtoEdit;
@model List<DoanhThu>

<div class="container mt-3">
    <h2 class="mb-5">Báo cáo doanh thu</h2>
    <div class="row mb-3">

        <div class="col-3">

            <form method="GET" >
                <div class="row mb-3" style="color:darkred">
                    <span class="col-3">Tháng &nbsp;</span><span class="col-9">@Html.DropDownList("Month", new SelectList(ViewBag.Months, "Value", "Text", DateTime.Now.Month), new { @class = "required form-control", @onchange = "this.form.submit()" })</span>
                </div>
                <div class="row" style="color:darkred">
                    <span class="col-3">Năm &nbsp;</span><span class="col-9">@Html.DropDownList("Year", new SelectList(ViewBag.Years, "Value", "Text", DateTime.Now.Year), new { @class = "required form-control", @onchange = "this.form.submit()" })</span>
                </div>
            </form>
        </div>
    </div>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Sản phẩm</th>
                <th>Doanh Thu</th>
            </tr>
        </thead>
        <tbody>
            @{
                var stt = 0;
                decimal tongdoanhthu = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@{stt++;}@stt</td>
                    <td>@item.TenSanPham</td>
                    <td>@string.Format("{0:#,###}", item.TongTien) ₫</td>
                </tr>
                tongdoanhthu += item.TongTien;
            }


        </tbody>
    </table>
    <div class="font-weight-bold red">
        Tổng doanh thu tháng này:
        @if (tongdoanhthu == 0)
        {
            <h3 style="color:green">0 ₫</h3>
        }
        else
        {

            <h3 style="color:green">@string.Format("{0:#,###}", tongdoanhthu) ₫</h3>
        }
    </div>
</div>

